<h1>Marvellous Infosystems Student Management Portal</h1>
<br>
<br>
<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.studentService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Student's Name</label>
        <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.fullName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">
          Please enter Stude.</div>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
          Invalid email address.</div>
      </div>
      <div class="form-group">
        <label>Mobile Number</label>
        <input formControlName="mobile" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.mobile.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
          <label *ngIf="formControls.mobile.errors.required">Mobile number is Compulsorry for further communication. You will receive messages from Marvellous Innfosystems.</label>
          <label *ngIf="formControls.mobile.errors.minlength">Invalid Mobile Number</label>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input formControlName="location" class="form-control">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
    <div class="alert alert-info"  *ngIf="showSuccessMessage">
      Data gets Submitted to Marvellous Database.
    </div>
  </div>
  <div class="col-md-7">
    <app-student-list></app-student-list>
  </div>
</div>